<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Body Weight Manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GraphView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE63B325195B4AB000C36F5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE63B33A195B4AB000C36F5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC22B31195C3AAA00E3BB24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC22B3B195C3AAA00E3BB24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
